.ul {
  justify-content: space-between;
}

.Link {
  /* display: inline; */
  justify-content: space-between;
  width: 90%;
  background-color: rgba(185, 196, 209, 0.2);
  color: #83c08d;
  border-bottom: 1px solid;
}

.a {
  text-decoration: none;
  color: #83c08d;
  border-bottom: 1px solid;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}
