.ul {
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  /* justify-content: space-between; */
}

.li {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 90%;
  background-color: rgba(185, 196, 209, 0.2);
  color: #5e9266;
  border-bottom: 1px solid;
}

.span {
  color: #e7f0e8;
  margin-left: auto;
  margin-right: 5px;
}

.a {
  text-decoration: none;
  color: #e7f0e8;
  border-bottom: 1px solid;
  border-bottom-color: rgba(15, 122, 252, 0.2);
  margin: 0 auto;
  padding: 5px;
}

.button {
  padding-left: 50%;
}
