.Player {
  display: inline-block;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.avatar {
  width: 300px;
  height: 300px;
}

.Player > div {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  max-width: 600px;
  justify-content: start;
}

.PlayerPhoto {
  display: block;
  margin-top: 20px;
  justify-content: space-around;
}

.Player h1 {
  color: #fff;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 2px;
}

.PlayerForm {
  display: ruby-base;
  background: linear-gradient(270deg, #979a9b 0%, #575e5f 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}

.editPlayer {
  display: block;
  background: linear-gradient(270deg, #979a9b 0%, #575e5f 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}
